/* Default */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body { height: 100%; }

body {
  background: #202020;
  overflow: hidden;
}

/* The sign up box */

.box {
	border-radius: 10px;	
	
	position: absolute;
	background-color: #333;
	width: 33.33%;
	right: 33.33%;
	left: 33.33%;
	height: 650px;
	top: 10%;
	box-shadow: #181818 10px 10px 50px;
	opacity: 1;
	z-index: 1;
}

.box #title {
	user-select: none;
	text-align: center;
	font-size: 30px;
	font-family: monospace;
	color: #D6D6D6;
	margin-top: 20px;
	margin-bottom: 50px;
}

.box .entryUser {
	display: flex;
	flex-direction: column;
}

.box .entryUser #input {
	margin-top: 8px;
}

.box .entryUser #input p {
	color: #202020;
	font-size: 21px;
	font-family: sans-serif;
	margin-left: 30px;
}

.box .entryUser #input input {
	background-color: #333;
	border: none;
	width: 90%;
	border-bottom: grey solid 1px;
	outline: none;
	margin-left: 30px;
	transition: 0.4s;
	height: 40px;
	font-size: 23px;
	color: #D6D6D6;
}

.box .entryUser #input input:focus {
	border-bottom: #FFD100 solid 1px;
}

.box .entryUser #btn {
	color: #202020;
	font-size: 25px;
	text-align: center;
	border: 3px solid #202020;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 60px;
	border-radius: 10px;
	transition: 0.2s;
}

.box .entryUser #btn:hover {
	cursor: pointer;
	border: 3px solid #FFD100;
	color: #D6D6D6;
}

/* The backgound wave */

.wave {
	position: absolute;
  	top: 600px;
  	width: 2000px;
	transform: translate3d(0, 0, 0);
	opacity: 0.6;
	z-index: 2;
}

.wave:nth-of-type(1) {
	animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 4s ease -1.25s infinite;
}

.wave:nth-of-type(2) {
	top: 590px;
	opacity: 0.2;
	animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 6s ease -1.25s infinite;
}

.wave:nth-of-type(3) {
	animation: wave2 13s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 4s ease -1.25s infinite;
}

.wave:nth-of-type(4) {
	animation: wave2 13s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 6s ease -1.25s infinite;
}



/* The Web site title */
.title {
	user-select: none;
	position: absolute;
	z-index: 3;
	top: 30px;
	left: 20px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 55px;
}

/* Animation */

@keyframes wave {
  0% {
    margin-left: 2000px;
  }
  100% {
    margin-left: -3000px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes wave2 {
  0% {
    margin-left: 7000px;
  }
  100% {
    margin-left: -3000px;
  }
}