::root {
	overflow: hidden;
}

body {
	user-select: none;
	background-color: rgb(25, 25, 25);
	color: rgb(204, 204, 204);
	font-family: sans-serif;
	text-align: center;
	overflow-y: scroll;
	max-height: 100vh;
}

/* default style of code-box */
.code {
	user-select: text;
	color: #FF9680;
	background-color: rgb(30, 30, 30);
	padding: 20px;
	border-radius: 20px;
	font-family: monospace;
	font-size: 20px;
	border: 2px solid rgb(33, 33, 33);
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	text-align: left;
}

h2 {
	margin-top: 100px;
}

p {
	font-size: 25px;
}

/* the coloring bar section */
.bar {
	position: fixed;
	top: 0px;
	background-color: rgb(30, 30, 30);
	width: 100%;
	height: 10px;
	opacity: 0.2;
}

.bar #front {
	display: flex;
	background-color: #E3B505;
	height: 10px;
	animation: changeColor 5s infinite;
}

@keyframes changeColor {
	0% {
		background-color: #E3B505;
	}
	20% {
		background-color: #DB504A;
	}
	40% {
		background-color: #56A3A6;
	}
	60% {
		background-color: #95C623;	 
	}
	80% {
		background-color: #81F0E5;
	}
	100% {
		background-color: #E3B505;
	}
}